


<ul>

  <li *ngFor="let pr of persons">{{pr}}</li>
</ul>










<table class="table table-dark">
  <thead>
    <tr>
      <th>Neme</th>
      <th>Age</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers;let i = index">
       <td>{{i+1}}</td>
      <td>{{teacher.name}}</td>
      <td>{{teacher.age}}</td>
      <td>{{teacher.add}}</td>
    </tr>

  </tbody>
</table>

<!-- *ngIf -->

<h1>Ngif Structural Directive</h1>
<div *ngIf="isUserLoggedIn,else logout">
<h1>Welcome to You Traing Basket</h1>
</div>
<ng-template #logout>
    
    <p>please register First</p>

</ng-template> 



